.filters {
    margin: 0;
    padding: 0;
    li {
        list-style-type: none;
        display: inline-block;
        margin: 0 0 15px 0;
        padding: 0 0 0 15px;
    }
}

.nav-tabs {
    .nav-link {
        background-color: white;
    }
}

.playlist_item {
    cursor: pointer;
    min-height: 350px;
}